<div id="noteBox" ng-controller="DashboardController as vm">
    <div>
        <md-button ng-click="vm.createNote($event)" 
                   class="md-icon-button text-right" 
                   flex-sm="100" 
                   flex-md="100" 
                   flex-gt-md="auto"> 
            <md-icon md-font-icon="fa-plus-square-o fa-2x" 
                     aria-label="Add Note" 
                     class="fa" 
                     ng-style="{color: 'green', height:'auto'}" />
        </md-button>
        <div ng-repeat="item in vm.notes">
            <ng-favLister-panel note="item"
                                update-note="vm.updateNote(item._id)"
                                delete-note="vm.deleteNote(item._id)" />
        </div>
    </div>
  
</div>