<div id="loginbox" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="panel-title text-left">Sign In</span>
            <span class="text-right">
                <a ui-sref="forgotPassword" class="hyper-link">
                    Forgot password?
                </a>
            </span>
        </div>

        <div style="padding-top:30px" class="panel-body">
            <form name="form.login"
                  ng-controller="LoginController as vm"
                  class="form-horizontal"
                  novalidate>
                <div class="input-group"
                     ng-class="{ 'has-error' : form.login.username.$invalid && form.login.username.$dirty }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text"
                           class="form-control"
                           ng-model="vm.user.username"
                           name="username"
                           placeholder="Username"
                           required />
                </div>
                <p ng-show="form.login.username.$invalid && form.login.username.$dirty">
                    <label class="error"> Username is required.</label>
                </p>
                <div style="margin-top: 25px"
                     class="input-group"
                     ng-class="{ 'has-error' : form.login.password.$invalid && form.login.password.$dirty }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password"
                           class="form-control"
                           ng-model="vm.user.password"
                           name="password"
                           placeholder="Password"
                           required />
                </div>
                <p ng-show="form.login.password.$invalid && form.login.password.$dirty">
                    <label class="error">Password is required.</label>
                </p>
                <div style="margin-top: 15px" class="input-group">
                    <div class="checkbox">
                        <label>
                            <input id="login-remember"
                                   type="checkbox"
                                   name="remember"
                                   value="1"> Remember me
                        </label>
                    </div>
                </div>
                <div style="margin-top:10px" class="form-group">
                    <!-- Button -->

                    <div class="col-sm-12 controls">
                        <button id="btn-login"
                                type="button"
                                ng-disabled="form.login.$invalid"
                                ng-click="vm.save(form.login.$valid)"
                                class="btn btn-success">
                            <i class="icon-hand-right"></i> &nbsp;
                            Login
                        </button>

                        <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                            Don't have an account!
                            <a ui-sref="register">
                                Sign Up Here
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>