<div class="panel panel-primary">
    <div class="panel-heading">
        <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>&nbsp;
        <h3>{{vm.heading}}</h3>
    </div>
    <div class="panel-body">
        <form name="form.note"
              class="form-horizontal"
              role="form"
              novalidate>
            <div class="form-group"
                 ng-class="{ 'has-error' : form.note.title.$invalid && form.note.title.$dirty }"
                 ng-disabled="vm.isUpdateRequest">
                <label for="title"
                       class="col-md-3 control-label">
                    Title
                </label>
                <div class="col-md-9">
                    <input type="text"
                           class="form-control"
                           ng-model="vm.note.title"
                           name="title"
                           placeholder="Title"
                           required>

                    <p ng-show="form.note.title.$invalid && form.note.title.$dirty"
                       class="help-block">
                        Title is required.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="detail" class="col-md-3 control-label">
                    Description
                </label>
                <div class="col-md-9">
                    <textarea name="detail" placeholder="Description" />
                </div>
            </div>
            <div class="form-group">
                <label for="priority" class="col-md-3 control-label">
                    Priority
                </label>
                <div class="col-md-9">
                    <select name="priority" 
                            class="dropdown dropdown-menu"
                            ng-model="vm.note.priority">
                        <option ng-repeat="p in vm.priorities">{{p}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <!-- Button -->
                <div class="col-md-offset-3 col-md-9">
                    <button id="btn-note"
                            type="button"
                            ng-disabled="form.note.$invalid || dataLoading"
                            ng-click="vm.save(form.note.$valid)"
                            class="btn btn-success">
                        <i class="icon-hand-right"></i> &nbsp;
                        Save
                    </button>
                    &nbsp;
                    <button id="btn-cancel"
                            type="button"
                            ng-click="vm.cancel()"
                            class="btn btn-inverse">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>