<md-dialog aria-label="Create Note">
    <form name="form.note"
          role="form"
          novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>&nbsp;
                <h3>{{ vm.heading }}</h3>
                <span flex></span>
                <md-button ng-click="closeDialog()"
                           class="md-icon-button text-right">
                    <md-icon md-font-icon="fa-times fa-2x"
                             aria-label="Close dialog"
                             class="fa"
                             ng-style="{color: 'Orange', height:'auto'}" />
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <div class="md-dialog-content">
                <div ng-class="{ 'has-error' : form.note.title.$invalid && form.note.title.$dirty }"
                     ng-disabled="vm.isUpdateRequest">
                    <label for="title"
                           class="control-label">
                        Title
                    </label>
                    <br />
                    <input type="text"
                           class="form-control"
                           ng-model="vm.note.title"
                           name="title"
                           placeholder="Title"
                           required>

                    <p ng-show="form.note.title.$invalid && form.note.title.$dirty"
                       class="help-block">
                        Title is required.
                    </p>
                </div>
                <div>
                    <label for="detail" class="control-label">
                        Description
                    </label>
                    <br />
                    <textarea name="detail"
                              placeholder="Description"
                              ng-model="vm.note.detail" />
                </div>
                <div>
                    <label for="priority" class="control-label">
                        Priority
                    </label>
                    <br />
                    <div>
                        <select name="priority"
                                class="dropdown dropdown-menu"
                                ng-model="vm.note.priority">
                            <option ng-repeat="p in vm.priorities">{{p}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </md-content>

        <md-divider></md-divider>

        <md-actions layout="row">
            <md-button ng-disabled="form.note.$invalid || dataLoading"
                       ng-click="vm.saveNote(form.note.$valid)"
                       aria-label="Save Note"
                       class="md-raised md-primary">
                Save
            </md-button>
            &nbsp;
            <md-button ng-click="closeDialog()"
                       aria-label="Cancel"
                       class="md-raised md-warn">
                Cancel
            </md-button>
        </md-actions>
    </form>
</md-dialog>