<div class="panel" ng-class="note.priority == 'High' ? 'panel-danger' : note.priority == 'Medium' ? 'panel-warning': 'panel-info'">
    <div class="panel-heading">
        <h3>{{note.title}}</h3>
        <h4>{{note.created_at  | date:'medium'}}</h4>
    </div>
    <div class="panel-body">
        <div>
            <p>
                <h4>{{note.detail}}</h4>
                <strong>Priority :</strong> <em>{{note.priority}}</em>
            </p>
            <p>
                <strong>Mark Complete :</strong> <input type="checkbox" ng-model="note.isMarkCompleted">
            </p>
            <p>
                <a ng-click="updateNote({id: note._id})">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a ng-click="deleteNote({id: note._id})">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </div>
</div>