<md-dialog aria-label="Create Note">
    <form name="form.note"
          ng-keyup="$event.keyCode == 13 && saveNote(form.note.$valid)"
          role="form"
          novalidate
          ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>&nbsp;
                <span class="logo-container">{{ vm.heading }}</span>
                <span flex></span>
                <md-button ng-click="closeDialog()"
                           class="md-icon-button text-right">
                    <md-icon md-font-icon="fa-times fa-2x"
                             aria-label="Close dialog"
                             class="fa"
                             ng-style="{color: 'white', height:'auto'}"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row"
                     ng-class="{ 'has-error' : form.note.title.$invalid && form.note.title.$dirty }"
                     ng-disabled="vm.isUpdateRequest">
                    <label for="title"
                           class="control-label">
                        Title
                    </label>
                    <div>
                        <input type="text"
                               class="form-control"
                               ng-model="vm.note.title"
                               name="title"
                               ng-disabled="vm.isUpdateRequest"
                               placeholder="Title"
                               required>

                        <p ng-show="form.note.title.$invalid && form.note.title.$dirty"
                           class="help-block">
                            Title is required.
                        </p>
                    </div>
                </div>
                <div class="row top-buffer">
                    <label for="noteDetail" class="control-label">
                        Description
                    </label>
                    <div>
                        <textarea name="noteDetail"
                                  id="noteDetail"
                                  placeholder="Description"
                                  ng-model="vm.note.detail"></textarea>
                    </div>
                </div>
                <div class="row top-buffer">
                    <label for="priority" class="control-label">
                        Priority
                    </label>
                    <div>
                        <md-select ng-model="vm.note.priority">
                            <md-option ng-value="p" ng-repeat="p in vm.priorities">{{p}}</md-option>
                        </md-select>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-divider></md-divider>
        <div class="md-actions" layout="row">
            <md-button ng-disabled="form.note.$invalid || dataLoading"
                       ng-click="saveNote(form.note.$valid)"
                       aria-label="Save Note"
                       class="md-raised md-accent">
                Save
            </md-button>
            &nbsp;
            <md-button ng-click="closeDialog()"
                       aria-label="Cancel"
                       class="md-raised md-warn">
                Cancel
            </md-button>
        </div>

    </form>
</md-dialog>