<section id="wishlistSection" ng-class="wishItem.priority == 'High' ? 'highPriorityColor' : wishItem.priority == 'Medium' ? 'mediumPriorityColor': 'lowPriorityColor'">
    <div id="header">
        <h3>{{wishItem.title}}</h3>
        <h4>{{wishItem.created_at  | date:'medium'}}</h4>
    </div>
    <div id="body">
        <div>
            <a data-toggle="collapse" data-target="#detail_{{wishItem._id}}">Check Detail</a>
            <p id="detail_{{wishItem._id}}" class="noteDetail collapse"> {{wishItem.detail}} </p>
            <br />
            <strong>Priority:</strong> <em> {{wishItem.priority}}</em>
        </div>
        <p class="inline">
            <strong>Mark Complete:</strong>
            <span class="checkbox-wishlist">
                <input type="checkbox" id="checkboxInput_{{wishItem._id}}" name="" ng-model="wishItem.isMarkCompleted" />
                <label for="checkboxInput_{{wishItem._id}}"></label>
            </span>
        </p>
        <div class="pull-right-noteButton">
            <a ng-click="updateItem({id: wishItem._id}, $event)">
                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
            </a>
            <span style="width:5px;">&nbsp;</span>
            <a ng-click="deleteItem({id: wishItem._id}, $event)">
                <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
