<div id="forgotLoginBox" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 mainbox">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-unlock-alt fa-2x" aria-hidden="true"></i>&nbsp;
            <span class="panel-title text-left">Forgot your login details?</span>
            <span class="text-right">
                <a ui-sref="login" class="hyper-link">
                    Login?
                </a>
            </span>
        </div>
        <div style="padding-top:30px" class="panel-body">
            <form name="form.forgotPanel"
                  ng-controller="ForgotPasswordController as vm"
                  class="form-horizontal"
                  novalidate>
                <div>
                    <p>
                        We will send you an email with instructions on how to reset your password.
                    </p>
                </div>
                <div class="input-group"
                     ng-class="{ 'has-error' : form.forgotPanel.username.$invalid && form.forgotPanel.username.$dirty }">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text"
                           class="form-control"
                           ng-model="vm.username"
                           name="username"
                           placeholder="Username"
                           required />
                </div>
                <p ng-show="form.forgotPanel.username.$invalid && form.forgotPanel.username.$dirty">
                    <label class="error">Username is required.</label>
                </p>
                <div style="margin-top:10px" class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <button type="button"
                                ng-disabled="form.forgotPanel.$invalid || dataLoading"
                                ng-click="vm.forgotLogin(form.forgotPanel.$valid)"
                                class="btn btn-success">
                            <i class="icon-hand-right"></i> &nbsp;
                            Reset Password
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                            Don't have an account!
                            <a ui-sref="register">
                                Sign Up Here
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>