body {
    font-size: 14px;
    line-height: 1.8;
    color: #818181;
    background-color: #ffffff;
    margin:3em;
    font-family: Montserrat, sans-serif;
}

.fa-list-alt {
    color: #ffffff;
}

.logo-container {
    font-family: 'Tillana', cursive;
    font-size: 20px;
    color: #ffffff;
}

.navbar {
    margin-bottom: 0;
    background-color: #E23A0B;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.4 !important;
    letter-spacing: 2px;
}

.navbar li a,
.navbar .navbar-brand {
        color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #E23A0B !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

.jumbotron {
    background-color: khaki; /*#F8C353*/
    color: #ffffff;
    padding: 90px 0px 35px 0px;
    font-family: Montserrat, sans-serif;
}

.jumbotron p {
        font-size: 16px;
}

/*.container-fluid {
    padding: 50px 50px;
}*/

.thumbnail {
    border: none;
    background-color: #C5D4FF;
}

.thumbnail p {
    color: #555;
}

.thumbnail h3 {
    color: #fff;
    font-weight: bold;
}

.footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #E23A0B;
    color: #fff;
}

/* Login/SignUp form */
.mainbox {
    margin-top: 100px;
}

.panel-primary {
    background-color: #fff;
    border-color: #000;
}

    .panel-primary > .panel-heading {
        color: #ffffff;
        background-color: khaki;
        border-color: #000;
        padding: 5px 5px;
    }

.panel-title {
    font-size: 24px;
}

.text-right {
    text-align: right;
    float: right;
    padding-top: 5px;
}

.hyper-link {
    color: cadetblue;
    font-size: 15px;
}

.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

l .alertbox {
    padding-left: 10px;
    padding-right: 0;
    margin-bottom: 20px;
}

.alertbox-show-hide {
    transition: 1s linear all;
    opacity: 1;
}

    .alertbox-show-hide.ng-hide {
        transition: 1s linear all;
        opacity: 0;
    }

.error {
    color: #A94442;
    font-weight: 100;
}

.welcome-user {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: khaki;
    line-height: 50px;
    padding-left: 15px;
}

.toast-top-right {  
   top: 65px; 
} 

.submenu{
     background-color:#E23A0B;
}

.animate-show {
  height: 0;
  background: white;
  overflow: hidden;
  transition: all 0.5s;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all 0.5s;
}

.animate-show:not(.ng-hide) {
  height: 60px;
}

textarea#noteDetail {
	width: 500px;
	height: 100px;
	border: 1px solid #cccccc;
	padding: 5px;
}

.top-buffer { margin-top:20px; }

/*StickyNote Style*/
div#wishlistPanel h3, h4{
  font-family:'Gloria Hallelujah', cursive; 
}

div#wishlistPanel p {
  font-size:100%;
  font-weight:normal;
}

div#wishlistPanel p.noteDetail{
   font-size:80%;
}

ul#wishlist, li{
  list-style:none;
}

div#wishlistPanel ul{
  overflow:hidden;
  padding:3em;
}

ul li section{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:300px;
  padding:1em;
    /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

ul#wishlist li{
  margin:1em;
  float:left;
}

ul li:nth-child(even) section{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}

ul li:nth-child(3n) section{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}

ul li:nth-child(5n) section{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

ul li section:hover,ul li section:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.highPriorityColor{
  background-color:#ED6B6B;
}

.mediumPriorityColor{
  background-color:#F2E28A;
}

.lowPriorityColor{
  background-color:#8FCD91;
}

div#body{
  margin:1px;
}
