/**
 * Created by Mukesh on 06/03/2016.
 */
body {
    font-size: 14px;
    line-height: 1.8;
    color: #818181;
    background-color: #ffffff;
    font-family: Montserrat, sans-serif;
}

.fa-list-alt {
    color: #ffffff;
}


.logo-container {
    font-family: 'Tillana', cursive;
    font-size: 20px;
    color: #ffffff;
}

.navbar {
    margin-bottom: 0;
    background-color: #E23A0B;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.4 !important;
    letter-spacing: 2px;
}

    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #E23A0B !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.jumbotron {
    background-color: #F8C353;
    color: #ffffff;
    padding: 90px 0px 35px 0px;
    font-family: Montserrat, sans-serif;
}

    .jumbotron p {
        font-size: 16px;
    }

/*.container-fluid {
    padding: 50px 50px;
}*/

.thumbnail {
    border: none;
    background-color: #C5D4FF;
}

    .thumbnail p {
        color: #555;
    }

    .thumbnail h3 {
        color: #fff;
        font-weight: bold;
    }

.footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #E23A0B;
    color: #fff;
}

/* Login form */
.mainbox {
    margin-top: 50px;
}

.panel-primary {
    background-color: #fff;
    border-color: #000;
}

    .panel-primary > .panel-heading {
        color: #ffffff;
        background-color: #C5D4FF;
        border-color: #000;
    }

.panel-title {
    font-size: 15px;
}

.text-right {
    text-align: right;
    float: right;
}

.hyper-link {
    color: cadetblue;
    font-size: 13px;
}
