@charset 'UTF-8';

// Modules
@import '_modules/_common.scss',
        '_modules/_registration',
        '_modules/_navigationBar';


body {
    font-size: 14px;
    line-height: 1.8;
    color: #818181;
    background-color: #ffffff;
    font-family: Montserrat, sans-serif;
}
